.leaffie-products .leaffie-products_categories .nav-link.active {
  background-color: #004832;
  color: #fff;
}
.leaffie-products .leaffie-products_categories .nav-link {
  color: #004832;
}
.leaffie-products .leaffie-products_list .card-product {
  margin-bottom: 20px;
}
.leaffie-products .leaffie-products_list .card-product .btn {
  background-color: #004832;
  border: 1px solid #004832;
}
.leaffie-products .leaffie-products_list .card-product .card-img {
  position: relative;
}
.leaffie-products .leaffie-products_list .card-product .card-img-icons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  padding: 10px;
}
.leaffie-products .leaffie-products_list .card-product .card-img i {
  font-size: 26px;
  color: #fff;
}
.leaffie-products .leaffie-products_list .card-product .card-body h5 {
  height: 50px;
  overflow-y: hidden;
}
.leaffie-products .leaffie-products_list .card-product .card-text {
  height: 70px;
  overflow-y: hidden;
}

/***************** LOADER ****************/
.loader-container {
  height: 46vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #004832;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  /* margin-left: auto;
  margin-right: auto; */
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
  
